<app-header></app-header>
<main>

  <section class="main-section main-container">
    <div class="headline">
      <span>PORFIRIO CONSULTORIA</span>
      <h1>A consultoria que você busca para seu software</h1>
    </div>
    <img ngSrc="./assets/main.png" width="650" height="500" priority />
  </section>

  <section class="benefit-section main-container">
    <div class="benefit-data">
      <h2>
        <span>95% das</span>
        <span>empresas</span>
      </h2>
    </div>
    <p>não sabem lidar com problemas de <b>escalabilidade</b> e grande volume de requisições.</p>
  </section>

  <section class="cta-section main-container">
    <btn-primary btn-text="Fale com nossos especialistas"></btn-primary>
  </section>

  <newsletter-form></newsletter-form>

  <section class="benefit-card-section main-container">
    <benefit-card
      card-img="./assets/team.png"
      card-title="Equipe capacitada"
      card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                 Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
      ></benefit-card>
    <benefit-card
      card-img="./assets/project-guide.png"
      card-title="Seus projetos guiados do zero"
      card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                 Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
    ></benefit-card>
  </section>

  <section class="cta-section main-container">
    <h1>
      <span>Quer elevar seu software e seus </span><span>negócios para outro nível?</span></h1>
    <btn-primary btn-text="Fale com nossos especialistas"></btn-primary>
  </section>

  <footer class="main-container">
    <img ngSrc="./assets/footer-logo.png" width="165" height="55" />
    <div>
      <a href="https://github.com/lukeskw/" target="_blank">
        <img ngSrc="./assets/instagram-logo.png" width="50" height="50" />
      </a>
      <a href="https://www.linkedin.com/in/lucas-porfirio-dev/" target="_blank">
        <img ngSrc="./assets/facebook-logo.png" width="50" height="50" />
      </a>

    </div>
  </footer>
</main>
