<app-header></app-header>
<main>

  <section class="main-section main-container">
    <div class="headline">
      <span>PORTOFIO DE CONSULTARIA</span>
      <h1>La consultoría que buscas para tu software</h1>
    </div>
    <img ngSrc="./assets/main.png" width="650" height="500" priority />
  </section>

  <section class="benefit-section main-container">
    <div class="benefit-data">
      <h2>
        <span>95% porciento</span>
        <span>empresas</span>
      </h2>
    </div>
    <p>no saben cómo manejar problemas de <b>escalabilidad</b> y un gran volumen de solicitudes.</p>
  </section>

  <section class="cta-section main-container">
    <btn-primary btn-text="Habla con nuestros especialistas"></btn-primary>
  </section>

  <newsletter-form></newsletter-form>

  <section class="benefit-card-section main-container">
    <benefit-card
      card-img="./assets/team.png"
      card-title="Equipo de expertos"
      card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                 Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
      ></benefit-card>
    <benefit-card
      card-img="./assets/project-guide.png"
      card-title="Guía de proyectos"
      card-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                 Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
    ></benefit-card>
  </section>

  <section class="cta-section main-container">
    <h1>
      <span>¿Quieres llevar tu software y tu </span><span>negocio al siguiente nivel?</span>
    </h1>
    <btn-primary btn-text="Habla con nuestros especialistas"></btn-primary>
  </section>

  <footer class="main-container">
    <img ngSrc="./assets/footer-logo.png" width="165" height="55" />
    <div>
      <a href="https://github.com/lukeskw/" target="_blank">
        <img ngSrc="./assets/instagram-logo.png" width="50" height="50" />
      </a>
      <a href="https://www.linkedin.com/in/lucas-porfirio-dev/" target="_blank">
        <img ngSrc="./assets/facebook-logo.png" width="50" height="50" />
      </a>

    </div>
  </footer>
</main>
